[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Lrfoster03
	email = lrfoster03@gmail.com
[core]
	autocrlf = input
